body{
            background-color: black;
            color:white;
　　　　　　　font-size:1.5rem;

            display: flex;
            height: 100vh;

            margin: 0;
            padding: 0;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:10px;
        }

.moon{
    font-size:3rem;
    filter:drop-shadow(0 0 10px #ff0000) drop-shadow(0 0 20px #8a0303) drop-shadow(0 0 40px #590000) drop-shadow(0 0 80px #8a0303);
    margin-bottom:60px;
}
        
button{
    font-size: inherit;
    color: black;
    background:linear-gradient(
    to bottom, black 0%, grey 25%, white 50%, grey 75%, black 100%);
    
    border-color:#fcd34d;
    border-width: 3px;
    box-shadow: 0 0 5px #fcd34d, 0 0 10px #fcd34d;
    
padding:20px 50px;
margin-bottom: 10px;
width:auto;

border-radius:12px;

transition:transform 0.1s, 
background 0.2s,
box−shadow 0.2s;
}

@media (hover:hover) and (pointer: fine) {
    button:hover{
    background: linear-gradient(135deg, #fcd34d 0%, #d97706 100%);
    transform: scale(1.05);
    box-shadow: 0 0 15px #fcd34d, 0 0 20px #fcd34d;
    }
}


button:active {
    transform: scale(0.9) translateY(2px);
    background:linear-gradient(to right, black 0%, grey 25%, white 50%, grey 75%, black 100%);
    box-shadow: 0 0 2px #fcd34d, 0 0 7px #fcd34d;
}


#buttonsdiv{
    display: flex;
    gap: 10px;
}