@media (max-width: 480px){
     #natureKekka, #animalKekka, #storyKekka{
        font-size: 1.5rem;
     }
     #idnature, #idanimal, #idstory{
        font-size: 1.5rem;
     }
     #divFlipCard {           
        font-size: 2rem;       
        border-radius: 12px;   
        }
     .moon {
        font-size: 5rem;  
        margin-bottom: 80px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    #divFlipCard {
        font-size: 4rem !important;
    }

}
@media (min-width: 769px){
    body{
        font-size: 2rem;
        width: 100%;
    }
    #idnature, #idanimal, #idstory{
        font-size: 2rem;
        padding: 10px 50px;
    }
    #divFlipCard {
        margin: 0 auto;        
        font-size: 3rem;       
    }

}
